<% layout('layouts/main') -%>


    <div>
        <br>
        <div class="conte">
            <h2 class="letra">Mi perfil</h2>
            <a href=""><img class="img" src="/img/1200px-User_icon_2.svg.png" alt=""></a>
            <div>
              
                <p class="letra">Nombres: 
                    <%= user.nombre+ user.apellido %>
                </p>
                <p class="letra">Formación: 
                    <%= user.formacion %>
                </p>
                
            </div>
        </div>
        <div class="form1">
            <h2 class="pp">Datos Personales</h2>
            <form class="formedit" action="/usuario/update" method="POST">


                <input type="hidden" name="_id" value="">
                <div>
                    <label for="nombre">Nombres</label>
                    <input type="text" class="form-control" id="nombre" name="nombre" value="<%= user.nombre -%>"
                        placeholder="Nombres">
                </div>
                <div>
                    <label for="apellido">Apellidos</label>
                    <input type="text" class="form-control" id="apellido" name="apellido" value="<%= user.apellido -%>"
                        placeholder="Apellidos">
                </div>
                <div>
                    <label for="cedula">Nº de cédula</label>
                    <input type="text"  class="form-control" id="cedula" name="cedula" value="<%= user.cedula -%>" placeholder="Nº de cédula">
                </div>
                
                <div>
                    <label for="telefono">Telefono</label>
                    <input type="text" class="form-control" id="telefono" name="telefono" value="<%= user.telefono -%>"
                        placeholder="Telefono">
                </div>
                <div>
                    <label for="direccion">Dirección</label>
                    <input type="text" class="form-control" id="direccion" name="direccion"
                        value="<%= user.direccion -%>" placeholder="Dirección">
                </div>
                <div>
                    <label for="formacion">Formacion</label>
                    <textarea class="form-control" name="formacion" id="formacion" ><%= user.formacion -%></textarea>
                </div>
                <div>
                    <label for="experiencia">Experiencia Laboral</label>
                    <textarea class="form-control" name="experiencia" id="experiencia"  ><%= user.experiencia -%></textarea>
                </div>
                <div>
                    <label for="email">Email</label>
                    <input type="text" class="form-control" id="email" name="email" value="<%= user.email -%>"
                        placeholder="Email">
                </div>
                <div>
                    <label for="password">Contraseña</label>
                    <input type="password" class="form-control" id="password" name="password" value=""
                        placeholder="Contraseña">
                </div>
                <div class="button">
                    <button type="submit" class="btn btn-primary button">Guardar cambios</button>
                </div>



            </form>
        </div>

        <br>
    </div>